@mixin mq($width, $type: min) {
    @if $type==max {
        $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
        @content;
    }
}

.t-align_center {
    position: relative;
    width: 100%;

    & > img {
        width: 100%;
    }
}

.map-point {
    position: absolute;
    transition: transform 0.3s;
    & > .img-point {
        cursor: pointer;
        transform: scale(1);
        .view-point {
            display: flex;
            border: 2px solid rgb(60, 60, 218);
            background-color: rgb(236, 232, 232);
            width: 25px;
            height: 25px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            @include mq(1200, max) {
                width: 27px;
                height: 27px;
            }
            @include mq(1000, max) {
                width: 25px;
                height: 25px;
            }
            @include mq(800, max) {
                width: 20px;
                height: 20px;
            }
            @include mq(600, max) {
                width: 18px;
                height: 18px;
                font-size: 12px;
            }
            @include mq(400, max) {
                width: 18px;
                height: 18px;
                font-size: 12px;
            }
            @include mq(320, 0.45) {
                width: 18px;
                height: 18px;
                font-size: 12px;
            }
        }

        transition: transform 0.3s;
        & > span {
            pointer-events: none;
        }
    }

    & > .img-point:hover {
        transform: scale(1.5);
        transition: transform 0.3s;
    }
    & > .img-point:active {
        transform: scale(1.2);
        transition: transform 0.3s;
    }
    & > .img-point.active {
        transform: scale(1.5);
        transition: transform 0.3s;
    }

    & > .message.right {
        position: absolute;
        background-color: rgb(224, 221, 221);
        position: absolute;
        will-change: transform;
        top: -79px;
        left: 50px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        transform-origin: 50 50;
        transition: transform 0.3s;
        transform: scale(0);
        z-index: 1000;

        // transform: translate3d(605px, 3px, 0px);
        &.active {
            transform: scale(1);
        }
        &::before {
            position: absolute;
            content: '';
            display: block;
            border-color: rgb(224, 221, 221);
            border-top: 20px solid transparent;
            border-right: 20px solid rgb(224, 221, 221);
            border-bottom: 20px solid transparent;
            z-index: 500;
            top: 50px;
            left: -19px;
        }

        .close {
            position: absolute;
            right: 5px;
            top: 5px;
            width: 30px;
            height: 40px;
            font-size: 2rem;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }

        ul > li {
            font-family: 'Roboto', Arial, sans-serif;
        }

        .mes-header {
            font-family: 'Roboto', Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 24px;
            text-transform: uppercase;
        }

        .map-text {
            width: 300px;
            margin: 20px;
            display: flex;
            flex-direction: column;
        }

        .to-link {
            padding: 20px;
            display: flex;
            width: 100%;
            background-color: #5095b2;
            justify-content: center;
            box-sizing: border-box;
            border-radius: 0 0 10px 10px;
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            font-family: 'Roboto', Arial, sans-serif;
        }

        .to-link:hover {
            background-color: #3c91b6;
        }
        .to-link:active {
            background-color: #1487b8;
        }
    }
    & > .message.left {
        position: absolute;
        background-color: rgb(224, 221, 221);
        position: absolute;
        will-change: transform;
        top: -83px;
        left: -400px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        transform-origin: 50 50;
        transition: transform 0.3s;
        transform: scale(0);
        z-index: 1000;

        &.active {
            transform: scale(1);
        }
        &::before {
            position: absolute;
            content: '';
            display: block;
            border-color: rgb(224, 221, 221);
            border-top: 20px solid transparent;
            border-left: 20px solid rgb(224, 221, 221);
            border-bottom: 20px solid transparent;
            z-index: 500;
            top: 50px;
            right: -19px;
        }

        .close {
            position: absolute;
            right: 5px;
            top: 5px;
            width: 30px;
            height: 40px;
            font-size: 2rem;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }

        ul > li {
            font-family: 'Roboto', Arial, sans-serif;
        }

        .mes-header {
            font-family: 'Roboto', Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 24px;
            text-transform: uppercase;
        }

        .map-text {
            width: 300px;
            margin: 20px;
            display: flex;
            flex-direction: column;
        }

        .to-link {
            padding: 20px;
            display: flex;
            width: 100%;
            background-color: #5095b2;
            justify-content: center;
            box-sizing: border-box;
            border-radius: 0 0 10px 10px;
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            font-family: 'Roboto', Arial, sans-serif;
        }

        .to-link:hover {
            background-color: #3c91b6;
        }
        .to-link:active {
            background-color: #1487b8;
        }
    }
}
